<div class="view-wrapper">
    <header class="header">
        <div class="toolbar-left">
            <a class="btn" href="/#/">New</a>
            <a class="btn" ng-click="fork(snippet.snippet, snippet.language)">Fork</a>        
        </div>
        <div class="toolbar-right">
            <select ng-model="theme" ng-options="t.name as t.caption for t in themes | orderBy:'caption'" class="theme"></select>
            <a ng-click="rawCode(snippet.id)" class="btn">Raw Code</a>
        </div>
    </header>

    <pre id="editor" editor="editor" edit="false" theme="theme" mode="snippet.language" code="snippet.snippet"><code></code></pre>

    <footer class="footer">
        <div class="credits toolbar-left">
            Posted by <a href="http://mavrx.io/">[Mavrx]</a>
        </div>
        <div class="toolbar-right">
            <div class="filename">Filename: {{ snippet.filename }}</div>
            <a href="/#/account/" class="btn">Account</a>
        </div>
    </footer>
</div>