<div class="view-wrapper">
    <header class="header">
        <div class="toolbar-left">
            <a class="btn" href="/#/">New</a>
            <a class="btn" ng-click="fork(snippet.snippet, snippet.language)">Fork</a>
            <a class="btn" ng-show="user.id" ng-href="/#/live/{{ snippet.id }}">Live Edit</a>
        </div>
        <div class="toolbar-right">
            <span class="filename bar-middle">Filename: <strong>{{ snippet.filename }}</strong></span>
            <a ng-click="rawCode(snippet.id)" class="btn">Raw Code</a>
        </div>
    </header>

    <div id="editor" ui-ace="aceConfig" readonly="true" ng-model="snippet.snippet"></div>

    <div ng-include="footerPartial"></div>
</div>