<header class="header">
    <div class="toolbar-left">
        <a class="btn" ng-disabled="!code" ng-click="clear()">New</a>
    </div>
    <div class="toolbar-right">
        <select ng-model="theme" ng-options="t.name as t.caption for t in themes | orderBy:'caption'" class="theme"></select>
        <select ng-model="mode" ng-options="m.name as m.caption for m in modes | orderBy:'caption'" class="theme">
            <option value="">-- Language --</option>
        </select>
        <!-- <button ng-click="detect()" class="btn">Detect</button> -->
        <button ng-click="save()" ng-disabled="!code || !mode" class="btn">Save</button>
    </div>
</header>

<pre id="editor" editor="snippet" theme="theme" mode="mode" code="code"><code></code></pre>

<footer class="footer">
    <div class="credits toolbar-left">
        Posted by <a href="http://mavrx.io/">[Mavrx]</a>
    </div>
</footer>