<div class="view-wrapper">
    <header class="header">
        <div class="toolbar-left">
            <a class="btn" ng-disabled="!code" ng-click="clear()">New</a>
        </div>
        <div class="toolbar-right">
            <select ng-model="aceConfig.mode" ng-options="m.name as m.caption for m in modes | orderBy:'caption'" class="mode">
                <option value="">-- Language --</option>
            </select>
            <!-- <button ng-click="detect()" class="btn">Detect</button> -->
            <button ng-click="save()" ng-disabled="!code" class="btn">Save</button>
        </div>
    </header>

    <div id="editor" ui-ace="aceConfig" ng-model="code" on-save="save()"></div>

    <div ng-include="footerPartial"></div>
</div>