<footer class="footer">
    <div class="credits toolbar-left">
        <div class="bar-middle">
            <img class="logo" src="/img/glue-logo.svg" alt="Glue">
            by <a href="http://mavrx.io/">[Mavrx]</a>
        </div>
    </div>
    <div class="toolbar-right">
        <span class="bar-middle">Theme:</span>
        <select ng-model="aceConfig.theme" ng-options="t.name as t.caption for t in themes | orderBy:'caption'" class="theme"></select>
        <img ng-show="user.id" ng-src="{{ user.avatar }}" alt="{{ user.name }}" class="mini-avatar">
        <a ng-show="user.id" href="/#/account/" class="btn">Account</a>
        <a ng-hide="user.id" href="/auth/github" class="btn">Login with GitHub</a>
    </div>
</footer>