@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700');
@import url('//fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import "normalize";

$brand-color: #a3dbe5;
$primary-color: #ebecee;
$secondary-color: #58585a;
$mavrx-color: #2cfacd;
$min-width: 600px;

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: $brand-color;
    text-decoration: none;
    transition: color 0.3s ease-out;
    text-shadow: 1px 1px 0 $secondary-color;

    &:hover {
        color: $mavrx-color;
    }
}

::selection {
    background: $mavrx-color !important;
    color: $primary-color !important;
}

[ng-click] {
    cursor: pointer;
}

.view-wrapper {
    position: fixed;
    min-width: $min-width;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#editor {
    position: fixed;
    min-width: $min-width;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    font-family: 'Droid Sans Mono' monospace;
    font-size: 14px;
    margin: 0;
}

.raw {
    color: $primary-color !important;
}

html, body {
    margin: 0;
    min-height: 100vh;
    min-width: $min-width;
    // overflow: hidden;
    font-family: 'Open Sans';
}

.header, .footer {
    position: fixed;
    min-width: $min-width;
    top: 0;
    left: 0;
    height: 50px;
    padding: 10px 20px;
    width: 100%;
    // background: $brand-color;
    background: rgba($primary-color, 0.5);
    color: $secondary-color;
    z-index: 10;
    box-shadow: 0 0 1px rgba(black, 0.5);

    img {
        height: 30px;
        display: inline-block;
        vertical-align: middle;

        &.logo {
            height: 36px;
            position: relative;
            top: -3px;
        }
    }


    .btn {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 30px;
    }

    select {
        line-height: 26px;
        height: 26px;
        border: 1px solid #ccc;
        padding: 0;
    }

    .bar-middle {
        line-height: 30px;
    }
}

.footer {
    top: auto;
    bottom: 0;
}

.mini-avatar {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0;
    vertical-align: top;
}

.detect {
    margin-right: 1em;
}

.toolbar-left {
    float: left;

    > * {
        display: inline-block;
        margin-right: 5px !important;
    }
}

.toolbar-right {
    float: right;

    > * {
        display: inline-block;
        margin-left: 5px !important;
    }
}

@mixin color-button($bg-color, $text-color: $primary-color) {
    background: lighten($bg-color, 10%);
    box-shadow: 0 3px 0 darken($bg-color, 2%);
    color: $text-color;

    &:hover, &:focus {
        color: $text-color;
        background: lighten($bg-color, 15%);
        box-shadow: 0 3px 0 lighten($bg-color, 2%);
    }
}

.btn {
    border: 0 none;
    display: inline-block;
    padding: 4px 10px;
    color: $primary-color;
    text-decoration: none;
    border-radius: 2px;
    text-shadow: none;
    transform: translateY(-3px);
    transition: background 0.2s ease-out,
                box-shadow 0.05s ease-out,
                transform 0.05s ease-out;

    @include color-button($secondary-color);
    &.btn-primary { @include color-button($brand-color, $secondary-color); }
    &.btn-inverse { @include color-button($primary-color, $secondary-color); }
    &.btn-danger { @include color-button(#b04127); }

    &:hover, &:focus {
        outline: 0;
        text-decoration: none;
    }

    &:active {
        box-shadow: none !important;
        transform: translateY(0);
    }

    &:disabled, &.disabled, &[disabled] {
        transform: translateY(0);
        background: lightgrey;
        box-shadow: none;
        cursor: not-allowed;
        color: $secondary-color;
    }
}

// Account
// -------------------------
.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 100px 0;
    width: 560px;
}

.avatar-large {
    width: 200px;
    display: inline-block;
}

.account-page {
    .btn {
        margin: 10px 0;
    }
}