@import url('//fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import "normalize";

$btn-color: #0077aa;
$mavrx: #2cfacd;
$min-width: 600px;

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: $btn-color;
    text-decoration: none;
    transition: color 0.3s ease-out;

    &:hover {
        color: $mavrx;
    }
}

::selection {
    background: $mavrx !important;
    color: whitesmoke !important;
}

[ng-click] {
    cursor: pointer;
}

.view-wrapper {
    position: fixed;
    min-width: $min-width;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#editor {
    position: fixed;
    min-width: $min-width;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    font-family: 'Droid Sans Mono' monospace;
    font-size: 14px;
    margin: 0;
}

.raw {
    color: white !important;
}

html, body {
    margin: 0;
    min-height: 100vh;
    min-width: $min-width;
    overflow: hidden;
}

.header {
    position: fixed;
    min-width: $min-width;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    width: 100%;
    // background: $btn-color;
    background: rgba(white, 0.5);
    color: #333;
    z-index: 10;
    box-shadow: 0 0 1px rgba(black, 0.5);

    // filter: blur(5px);
}

.footer {
    @extend .header;

    top: auto;
    bottom: 0;

    .toolbar-left, .toolbar-right {
        line-height: 50px;
    }
}

.detect {
    margin-right: 1em;
}

.toolbar-left {
    float: left;
    line-height: 20px;

    > * {
        margin-right: 5px;
    }
}

.toolbar-right {
    float: right;
    line-height: 20px;

    > * {
        margin-left: 5px;
    }
}

.btn {
    border: 0 none;
    margin: 10px 0;
    display: inline-block;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    background: lighten($btn-color, 10%);
    border-radius: 2px;
    transition: background 0.2s ease-out,
                box-shadow 0.05s ease-out,
                transform 0.05s ease-out;
    box-shadow: 0 3px 0 darken($btn-color, 2%);

    &:hover, &:focus {
        color: white;
        outline: 0;
        text-decoration: none;
        background: lighten($btn-color, 15%);
        box-shadow: 0 3px 0 lighten($btn-color, 2%);
    }

    &:active {
        box-shadow: none;
        transform: translateY(3px);
    }

    &:disabled, &.disabled, &[disabled] {
        transform: translateY(3px);
        background: lightgrey;
        box-shadow: none;
        cursor: not-allowed;
    }
}

// Account
// -------------------------
.center {
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 560px;
}

.avatar-large {
    width: 200px;
    display: inline-block;
}